// Expertise

.expertise{
	margin: 9rem 0 3rem;
	.header{
		background: #0671b5;
		height: 75px;
		margin-bottom: 3rem;
		margin-top: -2rem;
		.title{
			color: $white;
			font-size: 26px;
			line-height: 3;
		}
		.breadcrumbs-inside{
			float: right;
		    margin-top: -5%;
		    font-size: 13px;
		    a{
		    	color: $white;
		    }
		    &:not(.sep-icon){
		    	opacity: 0.7;
		    }
		    @media (max-width: 768px){
		    	display: none;
		    }
		}
		@media (max-width: 991px) and (min-width: 576px){
			margin-top: -1.3rem;
		}
		@media (max-width: 575px) and (min-width: 476px){
			margin-top: -2.3rem;
		}
		@media (max-width: 475px){
			margin-top: -4.5rem;
		}
	}
	.about_us{
		.head_text{
			border-bottom: 3px double #ddd;
			.title{
				font-size: 20px;
	    		text-transform: uppercase;
	    		color: #323436;
	    		line-height: 26px;
			}
		}
		.text_column{
			font-size: 14px;
    		line-height: 22px;
    		letter-spacing: 0px;
    		margin: 25px 0;
			p{
			    margin: 0 0 20px;
			}
		}
		.journey{
			.title{
				font-size: 30px;
    			line-height: 36px;
    			letter-spacing: 0px;
    			text-align: center;
    			margin-top: 3rem;
    			margin-bottom: 2rem;
			}
			.timeline{
			    margin-top: 3em;
    			margin-bottom: 3em;
    			position: relative;
    			padding: 2em 0;
    			.timeline-block{
    				margin: 4em 0;
	    			.idea{
	    				width: 60px;
					    height: 60px;
					    position: absolute;
					    left: 0;
					    right: 0;
					    margin: auto;
					    background: #f0ca45 none repeat scroll 0 0;
					    border-radius: 50%;
					    i{
					        display: block;
						    font-size: 30px;
						    text-align: center;
						    line-height: 58px;
						    color: #fff;
						    @media (max-width: 1024px){
						    	font-size: 24px;
						    	line-height: 40px;
					    	}
					    }
					    @media (max-width: 1024px){
					    	position: absolute;
						    left: -18px;
						    margin-left: inherit;
						    width: 40px;
						    height: 40px;
					    }
	    			}
	    			.exhibit{
	    				width: 60px;
					    height: 60px;
					    position: absolute;
					    left: 0;
					    right: 0;
					    margin: auto;
					    background: #0f609e none repeat scroll 0 0;
					    border-radius: 50%;
					    i{
					        display: block;
						    font-size: 30px;
						    text-align: center;
						    line-height: 58px;
						    color: #fff;
						    @media (max-width: 1024px){
						    	font-size: 24px;
						    	line-height: 40px;
					    	}
					    }
					    @media (max-width: 1024px){
					    	position: absolute;
						    left: -18px;
						    margin-left: inherit;
						    width: 40px;
						    height: 40px;
					    }
	    			}
	    			.wrap{
	    				width: 60px;
					    height: 60px;
					    position: absolute;
					    left: 0;
					    right: 0;
					    margin: auto;
					    background: #f49410 none repeat scroll 0 0;
					    border-radius: 50%;
					    i{
					        display: block;
						    font-size: 30px;
						    text-align: center;
						    line-height: 58px;
						    color: #fff;
						    @media (max-width: 1024px){
						    	font-size: 24px;
						    	line-height: 40px;
					    	}
					    }
					    @media (max-width: 1024px){
					    	position: absolute;
						    left: -18px;
						    margin-left: inherit;
						    width: 40px;
						    height: 40px;
					    }
	    			}
	    			.timeline-content{
	    			    margin-left: 0;
					    padding: 1.6em;
					    width: 45%;
					    position: relative;
						margin-left: 0px;
						background: #f2f2f2;
						border-radius: 0.25em;
						box-shadow: 0 3px 0 #E4E4E4;
	    				h2{
	    					color: #303e49;
	    					font-size: 24px;
	    					line-height: 30px;
	    					margin-bottom: 15px;
	    				}
	    				.timeline-img{
							position: absolute;
						    width: 100%;
						    left: 122%;
						    top: 6px;
						    font-size: 16px;
						    font-size: 1rem;
						    opacity: 1;
						    img{
						    	width: auto !important;
    							height: 156px !important;
    							@media (max-width: 575px){
    								width: 90% !important;
    								height: auto !important;
    							}
						    }
						    @media (max-width: 1024px){
	    						position: relative;
	    						top: 0;
	    						left:0;
	    					}
	    				}
	    				@media (max-width: 1024px){
	    					width: 80%;
	    					left: 8%;
	    				}
	    			}
	    			&:nth-child(even){
	    				.timeline-content{
	    					float: right;
	    					@media (max-width: 1024px){
	    						float: none;
	    					}
	    				}
	    				.timeline-img{
	    					left: auto;
						    right: 122%;
						    text-align: right;
						    img{
						    	width: auto !important;
    							height: 156px !important;
    							@media (max-width: 1024px){
    								margin-bottom: 22px;
    							}
    							@media (max-width: 575px){
    								width: 90% !important;
    								height: auto !important;
    							}
						    }
						    @media (max-width: 1024px){
						    	right: 0;
						    	text-align: left;
						    }
	    				}
	    			}
	    			&:after{
						content:'';
						display: block;
						clear: both;
					}
	    		}
	    		&:after{
					content:'';
					display: block;
					clear: both;
				}
    			&:before{
      				content: '';
    				position: absolute;
   					top: 0;
				    left: 50%;
				    height: 100%;
				    width: 4px;
    				border-left: 3px dashed #DFDFDF;
    				z-index: -1;
    			}
    			@media (max-width: 1024px){
    				&:before{
	      				content: '';
	    				position: absolute;
	   					top: 0;
					    left: 0;
					    height: 100%;
					    width: 4px;
	    				border-left: 3px dashed #DFDFDF;
	    				z-index: -1;
    				}
    			}
			}
			&:after{
				content:'';
				display: block;
				clear: both;
			}
		}	
    }
}
	
//capabilities
.item-overlay{
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.50);
	overflow: hidden;
	width: 100%;
	height:0;
	transition: .5s ease;
	color: $white;
	text-align:center;
	.text{
		position: absolute;
	    top: 50%;
	    left: 0;
	    right:0;
	    text-transform: uppercase;
	    font-weight: 600;
	}
}
.capabilities{
	margin: 6rem 0;
	.header{
		background: $d_orange;
		height: 75px;
		margin-bottom: 3rem;
		margin-top: -2rem;
		.title{
			color: $white;
			font-size: 26px;
			line-height: 3;
		}
		.breadcrumbs-inside{
			float: right;
		    margin-top: -5%;
		    font-size: 13px;
		    a{
		    	color: $white;
		    }
		    &:not(.sep-icon){
		    	opacity: 0.7;
		    }
		    @media (max-width: 768px){
		    	display: none;
		    }
		}
		@media (max-width: 382px){
			margin-top: -1rem;
		}
	}
	.capability_content{
		.icon_block{
			background: #efefef;
			text-align: center;
			padding: 20px 15px;
			border-radius: 2px;
			#icon-cap{
				font-size: 54px;
    			line-height: 2;
			}
			.text{
			    font-size: 20px;
			    line-height: 40px;
			    letter-spacing: 0px;
			    color: #323436;
			}
			@media (max-width: 768px){
				margin-bottom: 25px;
				padding-left: 0;
    			padding-right: 0;
			}
		}
		hr{
			margin: 3rem 0;
		}
		p{
			margin: 0 0 20px;
			line-height: 22px;
		}
		.line{
			margin: 1rem 0;
		}
		.grid-title{
			margin-bottom: 1.50rem;
		}
		.grid_block1{
			&:hover{
				.item-overlay{
					top: 0;
					height: 100%;
				}
			}
		}
		.grid_block2{
			&:hover{
				.item-overlay{
					top: 0;
					height: 100%;
				}
			}
		}
		.grid_block3{
			&:hover{
				.item-overlay{
					top: 0;
					height: 100%;
				}
			}
		}
		.grid {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: 8px;
			& > .grid_block1 {
				border: none;
				img {
					max-width: 100%;
					@media (max-width: 768px){
						margin: 0.5rem 0;
					}
				}
				&:hover{
					&:before{
				    	content:'';
				    	position: absolute;
				    	background: rgba(0,0,0,.5);
					    height:0;
					    width: 30.6%;
						transition: .5s ease;
			   		 }
			   	}
				&:nth-child(2) {
					grid-column: span 2;
					grid-row: span 2;
					&:before{
				    	content:'';
				    	position: absolute;
				    	background: rgba(0,0,0,.5);
				    	height: 0;
	    				width: 62.33%;
	    				&:hover{
	    					height: 32.33%;
	    				}
		   		 	}
				}
			}
			& > .grid_block2 {
				border: none;
				img {
					max-width: 100%;
					@media (max-width: 768px){
						margin: 0.5rem 0;
					}
				}
			
				&:nth-child(1) {
					grid-column: span 2;
					grid-row: span 2;
				}
			}
			& > .grid_block3 {
				border: none;
				img {
				    object-fit: cover;
				    width: 100%;
				    max-height: 235px;
				    @media (max-width: 768px){
						margin: 0.5rem 0;
					}
				}
				
				&:nth-child(1) {
					grid-column: span 3;
					grid-row: span 2;
				}
			}
			@media (max-width: 768px){
				display: block;
			}
		}
		.hb-callout-box{
			.text{
				@media(max-width: 991px){
					margin-bottom: 27px;
				}
			}
			a{
			    background: #ff9f08;
			    font-weight: normal;
			    font-size: 16px;
			    text-transform: none;
			    letter-spacing: 0;
			    padding: 16px 24px;
			    box-shadow: 0 3px 0 #d48200;
			    color: #fff;
			    &:hover{
			    	background: #0671b5;
    				box-shadow: 0 3px 0 #015387;
    				text-decoration: none;
			    }
			    @media (min-width: 992px){
			    	float: right;
    				margin-top: -53px;
			    }
			}
			@media (max-width: 991px){
				text-align: center;
			}
		}
	}
}