
.site-footer{
	height: auto;
	background-color: #111111; 
	a{
	 	text-decoration: none;
	}
	.action_block{
		padding: 20px;
		span{
			color: #fff;
			padding: 20px;
    		font-size: 22px;
    	    margin-top:10px;
    	    width: 100%;
    		margin: auto;
    		@media (max-width: 768px){
    			display: block;
    		}
		}
		&:before{
			content:'';
			background: #f39100;
			width:4px;
			height:40px;
			position:absolute;
			right:0;
			left:53.3%;
			@media (max-width: 768px){
				display:none;
			}
		}
	}

	.address{
		background: url('../images/footer-image.jpg');
		position: relative;
		.address_block1{
			color: #fff;
			padding: 16px 0;
			.main-info{
				text-transform: uppercase;
				color: #f39100;
				font-weight: bold;
				.sub-info{
					font-size: 14px;
				}
			}
		}
		.address_block2{
			color: #fff;
			padding: 16px 0;
			.main-info{
				text-transform: uppercase;
				color: #f39100;
				font-weight: bold;
				.sub-info{
					font-size: 14px;
				}
			}
		}
		&:before{
			content:'';
		    display:block;
		    background: rgba(17,17,17,.93);
		    width:100%;
		    height:100%;
			position:absolute;
			top:0;
			left:0;
			right:0;
		}
	}
	.form{
		.form-header{
			.contact_title{
				margin-top:20px;
				text-transform: uppercase;
				color: #fff;
			}
			.contact_subtile{
				color: #a1a1a1;
				font-size: 14px;
				text-align: center;
			}
		}
		.frm_style_formidable-style.with_frm_style .form-field {
   			 margin-bottom: 6px;
		}
		input[type=text], input[type=email], input[type=tel]{
			background: transparent;
			border-radius: 0;
			height: 40px;
			&:focus{
				background: transparent;
				box-shadow: none;
				border: none;
			}
		}
		textarea{
			background: transparent;
			border-radius: 0;
			&:focus{
				box-shadow: none;
				border: none;
			}
		}
		button{
			padding: 1rem 3rem;
		    font-size: 16px;
		    text-transform: uppercase;
		    font-weight: 600;
		    border-radius: 0;
		}
		.footer-form{
			max-width: 75%;
			margin: auto;
		}
	}
}


//Memberof

.members-of{
	background: #efefef;
	margin-top: 2rem;
	padding: 1rem;
}


.frm-show-form{
	margin: 0 10%;
		@media (max-with: 768px){
		margin: 0;
	}
	.frm_required{
		@media (max-width: 768px){
			display: none;
		}
	}
}

