body{
	background: #f5f5f5;
	font-family: 'Montserrat', sans-serif;
}
.section_title{
	margin-top: 3rem;
    margin-bottom: 2rem;
	font-size: 32px;
	text-align: center;
	color: #424242;
	font-weight: 900;
}
#angle{
	position: absolute;
    right: 30px;
}


//
// Home Page
//

.home-carousel{
	position: relative;
	padding-top: 56.2%;
	.carousel{
		position: absolute;
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
		opacity: 0;
		-webkit-transition: opacity 0.4s;
		transition: opacity 0.4s;
		&.is-hidden {
		    display: none;
		}
		&.flickity-enabled {
		  opacity: 1;
		}
	}
	.flickity-page-dots{
		bottom: 15px;
	}
}

/* If you're using images in your slider, add this CSS to ensure they take up 100% of the available area */

.carousel-cell {
	width: 100%;
}

.carousel-cell img {
	width: 100%;
	height: auto;
}

/* Ensures that Flickity waits until CSS has loaded to calculate the height of the cells */
.carousel:after {
  content: 'flickity';
  display: none; /* hide :after */
}

.flickity-prev-next-button{
	@media (max-width: 575px){
		width: 25px;
		height: 25px;
	}
}

// Welcome Text

.main-text{
	margin-bottom: 3rem;
	.main-text-header{
		text-align: center;
    	color: #f39100;
   		margin: 2rem 0;
    	font-size: 38px;
    	font-weight: 900;
    	@media (max-width: 575px){
    		font-size: 22px;
    	}
	}
	.main-text-subtext{
		text-align: center;
    	font-size: 16px;
    	@media (max-width: 575px){
    		font-size: 12px;
    	}
	}
}

// Our Approach


.main_block{
	text-align:center;
	padding: 2rem;
	fa{
    	margin: 22px 0;
    	color: #f39100;
	}
	#icons-appr{
		color: #495057;
	}
	.block_heading{
		font-size: 28px;
		font-weight:800;
		letter-spacing: 0.1px;
		text-align:center;
		margin: 1.5rem 0;
		color: #f39100;
	}
	.block_subheading{
		font-size: 14px;
		text-align:center;
	}
}

// Gallery

.view_gallery{
    padding: 1.5rem;
    color: #dee2e6;
    text-align: center;
    margin-top: 2rem;
        a {
	    color: $black;
	    border: 1px solid #f48e0c;
	    padding: 12px 34px;
	    border-radius: 0;
	    text-decoration: none;
	    transition: 0.6s;
	    font-weight:800;
	    &:hover{
	    	background-color: #f48e0c;
  			color: #fff;
	    }
	    @media (max-width: 768px){
	    	display: inline-block;
	    }
    }
}

.home{
	.gmedia_AlbumsListMasonry_Cover{ 
		pointer-events: none;
		cursor: default;
		.gmedia_AlbumsListMasonry_CoverTitleHolder{ 
			text-align: center;
		}
	}
}



 //Why Choose Us

.why_choose_us{
 	margin: 1.5rem 0 0 0;
 	position: relative;
 	.left-side{
 		background: url('../../assets/images/4reasons-banner.jpg') no-repeat;
 		background-size:cover;
 		width: 50%;
 		&:after{
 			content:'';
 			display:block;
 			clear:both;
 		}
 		@media (max-width: 991px){
 			display:none;
 		}
 	}
 	.right-side{
	 	background: #f8f8f8;
 		width: 50%;
 		box-shadow: 0px 0px 2px 0px #b9b7b7;
 		.opacity{
		    width: 100%;
		    height: 100%;
		    padding-top: 25px;
		    padding-right: 20px;
		    padding-bottom: 0px;
		    padding-left: 60px;
    		.choose_us_title{
			    font-size: 25px;
    			font-weight: 900;
    			color: #454545;
			    text-transform: uppercase;
			    margin-bottom: 2rem;
			    @media(max-width: 991px) and (min-width: 699px){
			    	font-size: 32px;
			    }
			    @media (max-width: 991px){
			    	margin-top: 1.5rem;
			    }
    		}
			.item{
				margin-bottom: 1.5rem;
				.num{
				    position: absolute;
				    left: 47.5%;
				    z-index: 1;
				    text-align: center;
				    width: 60px;
				    height: 60px;
				    line-height: 60px;
				    font-size: 38px;
				    background: #2471b5;
				    border-radius: 50%;
				    color: #fff;
				    @media (max-width: 991px){
				    	width: 50px;
					    height: 50px;
					    font-size: 28px;
					    line-height: 50px;
					    position: initial;
					    display: inline-block;
					}
				}
			}
 				
			.item_heading{
	 			font-size: 17px;
	 			font-weight: 700;
	 			text-transform: uppercase;
	 		}
		 	.item_text{
		 		line-height: 26px;
		 		font-size: 14px;
		 	}
 			@media(max-width: 991px) {
 				padding: 0px 80px;
 			}
 			@media(max-width: 575px){
 				padding: 30px;
 			}
 		}
 		@media (max-width: 991px){
 			width: 100%;
 			text-align: center;
 		}
 	}

	&:before{
		content: '';
	    width: 4px;
	    height: 100%;
	    background: #2471b5;
	    position: absolute;
	    top:0;
	    left: 50%;
	    z-index: 1;
	    @media (max-width: 991px){
	    	width: 0;
	    }

	}
	&:after{
	content:'';
	display:block;
	clear:both;
	}
}


// Counter	

.counter_in_home{
	margin-top: 2rem;
	margin-bottom: 4rem;
	.counter {
	    background-color:#f5f5f5;
	    padding: 20px 0;
	    border-radius: 5px;
		.count-title {
	    	font-size: 50px;
	    	letter-spacing: -2px;
	    	line-height: 55px;
	    	text-align: center;
	    	color: #f48e0c;
		}
		.count-separator{
			margin-top: -5px;
			.bottom-line{
				width: 40px;
				background: #ddd none repeat scroll 0 0;
			    display: inline-block;
			    height: 1px;
			    text-align: center;
			}
		}
		.count-text {
		    font-size: 13px;
		    font-weight: 600;
		    margin-top: 10px;
		    margin-bottom: 0;
		    text-align: center;
		    color: #999999;
		    letter-spacing: 1px;
	    	text-transform: uppercase;
		}
	}
}

.map{
	a{
		color: $black;
	}
}

// Clients Logo

#scroller{
	display: flex;
	padding-left: 0;
	li{
		list-style-type: none;
		background: #fff;
    	margin-right: 3rem;
    	img{
    	 	height: 100px;
    	 	margin: 0 1.5rem;
    	}
	}
}
.simply-scroll-container {
	position: relative;
}
.simply-scroll-clip {
	position: relative;
	overflow: hidden;
}
.simply-scroll-list {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		padding: 0;
		margin: 0;
		list-style: none;
		img {
			border: none;
			display: block;
		}
	}
}
.simply-scroll {
	width: 100%;
	height: 150px;
	margin-bottom: 1em;
	.simply-scroll-clip {
		width: auto;
		height: 200px;
	}
	.simply-scroll-list {
		li {
			float: left;
			width: 290px;
			height: 100px;
			background: #fff;
			filter: none;
			opacity:1;
			transition: 0.3s;
			&:hover{
				filter:none;
				opacity:1;
			}
		}
	}
}

//CTA

#call-to-action{
	background: #212529;
    padding: 1.5rem;
    color: #dee2e6;
    text-align: center;
    .cta-text{
        margin-bottom: 20px;
	    span{
	    	font-size: 24px;
	    }
	}
    a {
	    color: $white;
	    border: 1px solid #f48e0c;
	    padding: 12px 34px;
	    border-radius: 0;
	    text-decoration: none;
	    transition: 0.6s;
	    font-weight:800;
	    display: inline-block;
	    &:hover{
	    	background-color: #f48e0c;
  			color: #fff;
	    }
    }
}
//FAQ

.card{
    border: 1px solid #fff;
	.card-header{
		background: #e4e2e2;
		border-bottom: 0;
		a{
			color: $black;
			&:focus{
				color: $black;
			}
			&:hover{
				color: $black;
				text-decoration:none;
			}
			.faq_title{
				font-size: 14px;
		   		line-height: 22px;
			}
		}
		&:hover{
			    background: #f9f9f9;
		}
	}
	.card-body{
		border: solid 1px #ebebeb;
		font-size: 14px;
	}
}


