 
 .section_title{
 	text-align: center;
 	margin: 1rem 0;
 	color: #0671b5;
 } 

 .approach_block{
 	text-align:center;
 	margin: 1.5rem 0;
 	.listen-text{
 		color: $black;
 		font-weight: $font-weight-bold;
 		padding: 1rem 0;
 		border-bottom: 2px solid #0671b5;
 		position: relative;
 		width: 70%;
    	margin: auto;
 		&::before{
 		    content:'';
 			position: absolute;
 			width: 25px;
 			height: 25px;
 			border-top: 0px solid #0671b5;
 			border-bottom: 2px solid #0671b5;
    		border-right: 2px solid #0671b5;
 			border-left: 0px solid #0671b5;
 			top: 100%;
 			left:50%;
 			margin-left: -15px;
 			transform: rotate(45deg);
 			margin-top: -12px;
 			background-color: $white;
 		}
 	}
 	.design-text{
 		color: #0671b5;
 		font-weight: $font-weight-bold;
 		padding: 1rem 0;
 		border-bottom: 2px solid #000;
 		position: relative;
 		width: 70%;
    	margin: auto;
 		&::before{
 		    content:'';
 			position: absolute;
 			width: 25px;
 			height: 25px;
 			border-top: 0px solid #000;
 			border-bottom: 2px solid #000;
    		border-right: 2px solid #000;
 			border-left: 0px solid #000;
 			top: 100%;
 			left:50%;
 			margin-left: -15px;
 			transform: rotate(45deg);
 			margin-top: -12px;
 			background-color: $white;

 		}
 	}
 	.deliver-text{
 		color: $black;
 		font-weight: $font-weight-bold;
 		padding: 1rem 0;
 		border-bottom: 2px solid #0671b5;
 		position: relative;
 		width: 70%;
    	margin: auto;
 		&::before{
 		    content:'';
 			position: absolute;
 			width: 25px;
 			height: 25px;
 			border-top: 0px solid #0671b5;
 			border-bottom: 2px solid #0671b5;
    		border-right: 2px solid #0671b5;
 			border-left: 0px solid #0671b5;
 			top: 100%;
 			left:50%;
 			margin-left: -15px;
 			transform: rotate(45deg);
 			margin-top: -12px;
 			background-color: $white;
 		}
 	}
 	.info_one{
 		color: $black;
 		margin-bottom: 0;
 		margin-top: 20px;
 	}
 	.info_two{
 		color: #0671b5;
 		margin-bottom: 0;
 	}
 	.info_three{
 		color: #0671b5;
 		font-weight: $close-font-weight;
    	font-size: 1.5rem;
        margin-bottom: 0;
 	}
 }


 //Why Choose Us

 .why_choose_us{
 	margin: 1.5rem 0;
 	.left-side{
 		background: url('../images/choose_us.jpg') no-repeat center;
 		background-size:cover;
 		float: left;
 		width: 50%;
 		height:570px;
 	}
 	.right-side{
	 	background: #f8f8f8;
	    position: relative;
	    float: left;
 		width: 50%;
 		height:570px;
 		.opacity{
	 		position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    padding-top: 45px;
		    padding-right: 0;
		    padding-bottom: 40px;
		    padding-left: 80px;
    		.choose_us_title{
			    font-size: 28px;
			    font-weight: 400;
			    color: #2c2c2c;
			    text-transform: uppercase;
			    margin-bottom: 2rem;
    		}
 			.choose_reason{
 				.item_heading{
	 				font-size: 17px;
	 				font-weight: 700;
	 				text-transform: uppercase;
	 				}
		 		.item_text{
		 			line-height: 26px;
		 			font-size: 14px;
		 		}
		 		&:before{
			 		content:'';
			 		color: #fff;
				    font-size: 37px;
				    width: 80px;
				    height: 80px;
				    line-height: 80px;
				    text-align: center;
				    background: #ec691f;
				    border-radius: 50%;
		 		}
 			}
 		}
 			&:before{
 				content: '';
			    width: 4px;
			    height: 100%;
			    background: $red;
			    position: absolute;
			    top: 0;
			    left: 0;
			    z-index: 1;
 			}
 		}
 	}
 