
.single-post{
	margin: 9rem 0 0;
	.header{
		background: $d_orange;
		height: 75px;
		margin-bottom: 3rem;
		margin-top: -2rem;
		.title{
			color: $white;
			font-size: 26px;
			padding: 0.5rem 0;
    		max-width: 600px;
			@media (max-width: 475px){
				font-size: 18px;
			}
		} 
		.breadcrumbs-inside{
		    font-size: 13px;
		    position: absolute;
		    right: 0;
		    top: -40px;
			a{
				color: $white;
			}
			&:not(.sep-icon){
				opacity: 0.7;
			    display: inline-block;
			    max-width: 250px;
			    overflow: hidden;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			}
			@media (max-width: 768px){
				display: none !important;
			}
		}
		@media (max-width: 991px) and (min-width: 576px){
			margin-top: -1.3rem;
		}
		@media (max-width: 575px) and (min-width: 476px){
			margin-top: -1.9rem;
		}
		@media (max-width: 475px){
			margin-top: -3.8rem;
			height: 50px;
		}
	}
	.single_post_page{
		margin-bottom: 2rem;
		.blog_featured_img > img{
			width: 100% !important;
			height: auto;
		}
		.entry-header{
			margin: 3rem 0;
			.entry-date {
				color: #888;
				font-size: 12px;
				border-right: 1px solid #444;
			}
			.category > a{
				color: #888;
				font-size: 12px;
			}
		}
		.entry-content{
			margin-bottom: 60px;
			h3{
				font-size: 20px;
			}
			p{
				font-size: 14px;
				margin: 0 0 30px;
			}
		}
		.entry-tags{
			a{
				color: #fff;
    			background: #c8c8c8;
				font-size: 12px;
    			padding: 2px 8px;
    			font-weight: 800;
    			display: inline-block;
    			border-radius: 2px;
			    margin: 0 4px;
				&:hover{
					text-decoration: none;
					background: #f9bc23;
				}
			}
		}
		.recent-post-title{
			margin: 2.5rem 0;
		}
		.recent_posts{
			margin:2rem 0 3.5rem 0;
			.recent-post_featured-img img{
				width: 100% !important;
				height: 250px;
			}
			.recent-post-bg{
				background: white;
			    padding: 2px 20px;
				.recent-post_header{
					.entry-title{
						font-size: 22px;
					}
					.entry-date{
						color: #888;
						font-size: 12px;
					}
				}
			}
		}
	}
}