$theme-colors: (
  "primary": rgba(249, 188, 35, 1),
  "secondary": #004283,
  "cancel": #4b4b4b,
  "dark": #707279,
  "light": #e4e4e4,
);

$danger: #ad110a;
$d-blue: #003E86;
$gray-500: #adb5bd !default;
$gray-800: #343a40 !default;
$white: #fff !default;
$black: #000 !default;
$d_orange: #f39100 !default;