// Webpace Gallery

.w_gallery{
	margin: 9rem 0 3rem;
}
.web_pace_portfolio_popup_list{
	width: 60% !important;
    left: 18%;
	.popup-wrapper_5{
		padding: 2% 2% 0% 2%;
		.right-block{
			float: none !important;
			.title{
				font-size: 14px;
				padding: 5px 0 !important;
			}
		}
		 .image-block_5{
			width: 100vh !important;
			img {
    			width: 98% !important;
    		}
		}
	}
	li.pupup-element{
		height: auto !important;
	}
}
