// Webpace Gallery

.w_gallery{
	margin: 9rem 0 3rem;
}
#web_pace_portfolio_popup_list_5{
	.popup-wrapper_5{
		.right-block{
			float: none !important;
			.title{
				font-size: 14px;
				padding: 5px 0 !important;
			}
		}
		 .image-block_5{
			width: 100vh !important;
		}
	}
	li.pupup-element {
		.popup-wrapper_5{
			padding: 2% 2% 3% 8%;
		}
		&.active{
			height: auto;
		}
	}
}
#web_pace_portfolio_pupup_element_21{
	height: auto !important;
}