.contact_us {
  margin: 6rem 0; }
  .contact_us .header {
    background: #212529;
    height: 250px; }
    .contact_us .header .title {
      text-transform: uppercase;
      color: #f39100;
      font-weight: bolder;
      font-size: 84px;
      padding-top: 3rem;
      text-align: center; }
    .contact_us .header .subtitle {
      color: #a1a1a1;
      display: block;
      font-size: 24px;
      font-weight: 500;
      text-align: center; }
  .contact_us .contact_us_content {
    text-align: center; }
    .contact_us .contact_us_content .icon_block_1 {
      margin-left: 8%; }
      @media (max-width: 991px) {
        .contact_us .contact_us_content .icon_block_1 {
          margin-left: 0; } }
    .contact_us .contact_us_content .num_header,
    .contact_us .contact_us_content .email_header {
      text-transform: uppercase;
      font-weight: 700;
      color: #454545;
      font-size: 22px;
      margin: 1rem 0; }
    .contact_us .contact_us_content .fa-phone,
    .contact_us .contact_us_content .fa-envelope {
      margin: 0.5rem;
      color: #f39100;
      font-size: 60px; }
    .contact_us .contact_us_content .num, .contact_us .contact_us_content .email {
      color: #808080; }
      .contact_us .contact_us_content .num a, .contact_us .contact_us_content .email a {
        color: #808080; }
    .contact_us .contact_us_content .icon {
      color: #fff;
      margin: auto;
      margin-bottom: 1rem; }
    .contact_us .contact_us_content .fas {
      font-size: 70px; }
    .contact_us .contact_us_content .main-info {
      font-size: 50px; }
    .contact_us .contact_us_content .sub-info {
      font-size: 20px; }
    .contact_us .contact_us_content .address_block .address_1 img {
      width: 100%; }
    .contact_us .contact_us_content .address_block .address_1 .addr_text {
      position: absolute;
      left: 0;
      right: 0;
      top: 15%;
      color: #fff; }
    .contact_us .contact_us_content .address_block .address_1:before {
      content: '';
      display: block;
      background: rgba(113, 5, 5, 0.54902);
      width: 95%;
      height: 100%;
      position: absolute;
      left: 13px;
      right: 0;
      z-index: 0; }
    .contact_us .contact_us_content .address_block .address_2 img {
      width: 100%; }
    .contact_us .contact_us_content .address_block .address_2 .addr_text {
      position: absolute;
      left: 0;
      right: 0;
      top: 15%;
      color: #fff; }
    .contact_us .contact_us_content .address_block .address_2 .icon {
      color: #fff;
      margin: auto;
      margin-bottom: 1rem; }
    .contact_us .contact_us_content .address_block .address_2 .fas {
      font-size: 65px; }
    .contact_us .contact_us_content .address_block .address_2:before {
      content: '';
      display: block;
      background: rgba(0, 0, 0, 0.75);
      width: 95%;
      height: 100%;
      position: absolute;
      left: 13px;
      right: 0;
      z-index: 0; }
    .contact_us .contact_us_content .form_header {
      font-size: 43px;
      margin-top: 4rem;
      font-weight: bolder;
      text-transform: capitalize;
      color: #f39100; }
    .contact_us .contact_us_content .form_subtext {
      font-size: 14px;
      color: gray; }
    .contact_us .contact_us_content .frm-show-form {
      margin: 0 10% !important; }
      .contact_us .contact_us_content .frm-show-form input[type=text], .contact_us .contact_us_content .frm-show-form input[type=email], .contact_us .contact_us_content .frm-show-form input[type=tel] {
        height: 50px;
        border: 1px solid #abababab;
        border-radius: 0; }
      .contact_us .contact_us_content .frm-show-form textarea {
        border: 1px solid #abababab;
        border-radius: 0; }
      .contact_us .contact_us_content .frm-show-form .frm_button_submit {
        background: #f39100;
        border: 0;
        border-radius: 0;
        padding: 0.7rem 6rem;
        text-transform: uppercase;
        font-weight: 600;
        color: #fff;
        position: relative;
        bottom: 5.5rem;
        float: right; }
        .contact_us .contact_us_content .frm-show-form .frm_button_submit:hover {
          background: #f39100;
          color: #fff; }
        @media (max-width: 768px) {
          .contact_us .contact_us_content .frm-show-form .frm_button_submit {
            bottom: 0;
            float: inherit; } }
