.expertise {
  margin: 6rem 0; }
  .expertise .expertise_header {
    background: url("../../assets/images/expertise_header.jpg") center;
    height: 300px;
    filter: grayscale(68%); }
    .expertise .expertise_header .header_title {
      text-align: center;
      padding: 6rem 0;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 7em; }
      @media (max-width: 645px) {
        .expertise .expertise_header .header_title {
          font-size: 5em; } }
      @media (max-width: 475px) {
        .expertise .expertise_header .header_title {
          font-size: 3em; } }
  .expertise .expertise_title {
    text-align: center;
    color: #f48e0c;
    margin: 2rem 0;
    font-size: 40px;
    font-weight: 900; }
  .expertise .expertise_content {
    color: #707279;
    text-align: center;
    font-size: 14px;
    font-weight: 600; }

.journey .journey_block {
  padding: 15px; }
  .journey .journey_block img {
    width: 100%;
    height: auto; }
  .journey .journey_block .text_block {
    position: absolute;
    top: 25%;
    z-index: 0;
    color: #fff;
    text-align: center;
    padding: 0 2rem;
    left: 0;
    right: 0; }
    .journey .journey_block .text_block p {
      padding: 10px; }
      @media (max-width: 991px) and (min-width: 769px) {
        .journey .journey_block .text_block p {
          padding: 55px; } }
      @media (max-width: 475px) {
        .journey .journey_block .text_block p {
          font-size: 13px; } }
    @media (max-width: 475px) {
      .journey .journey_block .text_block .title {
        font-size: 22px; } }
    .journey .journey_block .text_block .icon1 {
      background: #f0ca45;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      color: #000;
      margin: auto;
      margin-bottom: 1rem; }
    .journey .journey_block .text_block .icon2 {
      background: #0f609e;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      color: #fff;
      margin: auto;
      margin-bottom: 1rem; }
    .journey .journey_block .text_block .icon3 {
      background: #f49410;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      color: #fff;
      margin: auto;
      margin-bottom: 1rem; }
    .journey .journey_block .text_block .icon4 {
      background: #f0ca45;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      color: #fff;
      margin: auto;
      margin-bottom: 1rem; }
    .journey .journey_block .text_block .icon5 {
      background: #0f609e;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      color: #fff;
      margin: auto;
      margin-bottom: 1rem; }
    .journey .journey_block .text_block .icon6 {
      background: #f49410;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      color: #fff;
      margin: auto;
      margin-bottom: 1rem; }
    .journey .journey_block .text_block .icon7 {
      background: #f0ca45;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      color: #fff;
      margin: auto;
      margin-bottom: 1rem; }
    .journey .journey_block .text_block .far, .journey .journey_block .text_block .fas {
      font-size: 30px;
      padding: 8px; }
    @media (max-width: 575px) {
      .journey .journey_block .text_block {
        top: 15%; } }
  .journey .journey_block:before {
    content: '';
    background: rgba(0, 0, 0, 0.78);
    height: 82%;
    width: 89%;
    position: absolute;
    margin: 12px auto;
    left: 0;
    right: 0;
    top: 20px;
    border: 2px solid #f39100; }
    @media (max-width: 1060px) {
      .journey .journey_block:before {
        height: 83%;
        width: 85%; } }
    @media (max-width: 991px) and (min-width: 769px) {
      .journey .journey_block:before {
        height: 87%; } }
    @media (max-width: 475px) {
      .journey .journey_block:before {
        height: 79%; } }
